<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit card</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Ime Prezime</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/cards">Kartice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/newrequest">+ Napravi novu karticu</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main id="content">
        <div class="container">
            <form method="POST" th:object="${card}" th:action="'/modify/' + ${card.id}" >
                <div class="form-group">
                    <label for="pin-input">Change PIN</label>
                    <input th:field="*{pin}" type="text" class="form-control" id="pin-input" aria-describedby="pinHelp" />
                    <small id="pinHelp" class="form-text text-muted">Your PIN must have 4 digits.</small>
                </div>
                <div class="form-group">
                    <label for="limit-input">Enter your card limit</label>
                    <input th:field="*{payment_limit}" type="text" class="form-control" id="limit-input" aria-describedby="current-limit" />
                    <small th:text="'Your current limit is: ' + *{payment_limit}" id="current-limit" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="contactless-checkbox">Enable/Disable contactless payment</label>
                    <input th:field="*{contactless_payment}" type="checkbox" class="form-control" id="contactless-checkbox"
                           th:checked="*{contactless_payment}" />
                </div>
                <div class="form-group">
                    <label for="online-checkbox">Enable/Disable online payment</label>
                    <input th:field="*{online_payment}" type="checkbox" class="form-control" id="online-checkbox"
                           th:checked="*{online_payment}" />
                </div>
                
                <p>
                    <a class="btn btn-warning" th:href="'/delete/' + ${card.id}">Delete</a>
                    <a class="btn btn-warning" th:href="'/freeze/' + ${card.id}">Freeze</a>
                </p>
                
                <p><input class="btn btn-primary" type="submit" value="Submit" /></p>
            </form>

        </div> <!-- ./container -->
    </main>
    

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
</body>
</html>