#content {
    margin-top: 60px;
}

.card-container {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: .4rem;
    margin-bottom: 1rem;
    transition: .35s ease;
}

.card-container:hover {
    transition: .35s ease;
    box-shadow: 0px 0px 5px 2px #ccc;
}

.card {
    padding: 1rem;
    margin: -1rem;
    margin-bottom: 1.5rem;
    position: relative;
    min-height: 200px;
    color: white;
    text-shadow: 0 0 2px #000;
}

.card .name-container {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 1.2rem;
}

.card .card-number {
    position: absolute;
    top: 80px;
    left: 30px;
    font-weight: bold;
}

.card .expires-container {
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.card .cvv-container {
    position: absolute;
    bottom: 20px;
    left: 150px;
}

.card .description {
    font-size: .9rem;
}

.card .card-form {
    color: white;
    text-shadow: 0 0 2px #000;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    right: 30px;
}

.inactive {
    opacity: .7;
}

.visa {
    background: gold url(../images/visa.png) no-repeat bottom right 10px;
    background-size: 80px;
    color: black;
    text-shadow: none;
}

.maestro {
    background: grey url(../images/maestro.png) no-repeat bottom 20px right 20px;
    background-size: 70px;
    color: #fff;
}

.mastercard {
    background: royalblue url(../images/mastercard.png) no-repeat bottom 10px right 10px;
    background-size: 80px;
}